# SLM Server Environment Variables
PORT=8000
SUPABASE_JWT_SECRET=your_supabase_jwt_secret_here
FIKRA_APIKEY=your_fikra_api_key_here
FIKRA_BASE_URL=https://api.fikraapi.co.ke/v1
OCR_KEY=your_ocr_space_api_key_here
